@layer components {
  .wp-block-latest-posts__post-date,
  .wp-block-latest-posts__post-author {
    @apply text-sm text-secondary;
  }

  .wp-block-latest-posts__post-date {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  .wp-block-latest-posts__post-author {
    grid-column: 1;
    grid-row: 2;
  }

  .wp-block-latest-posts__post-excerpt {
    grid-column: 1 / -1;
  }

  .wp-block-latest-posts__list {
    @apply space-y-2;
    & > * {
      @apply grid gap-x-4;
      grid-template-columns: auto auto;
      justify-items: start;
    }
  }
  .wp-block-quote > cite {
    display: block;
  }

  .wp-block-column {
    @apply space-y-1lh;
    &:not(:last-child) { @apply mb-1lh; }
  }
  @media (min-width: 600px) {
    .wp-block-column { @apply mb-0 !important; }
  }

  .wp-block-image:last-child {
    @apply mb-0;
  }

  /* We don't want this to apply when there's a div.wp-block-image with a figure
   * nested inside it with .alignright or .alignleft – we have a different rule
   * for that. Maybe should consolidate them someday. */
  figure.wp-block-image {
    @apply mx-0 mb-0 my-0.25lh;
  }

  .wp-block-image figure {
    @apply my-0.25lh;
  }

}
