@layer components {
	.comment-form {
		@apply grid sm:grid-cols-2 gap-y-4 gap-x-6;

    label { @apply text-secondary; }

		[class *= "comment-form-"] {
			@apply flex flex-col gap-y-1;
		}
		.comment-form-comment, .comment-notes {
			grid-column: 1 / -1;
		}
		.comment-form-cookies-consent {
			@apply flex-row gap-x-3 pt-5;
      [type="checkbox"] {
        @apply mt-1 sm:mt-2;
      }
		}
		.comment-notes .required {
			&::before { content: "with an asterisk (" }
			&::after { content: ")." }
		}
    input:not([type="checkbox"]) {
      max-width: 18rem;
    }
    textarea {
      max-width: 18rem;
      @screen sm {
        max-width: none;
      }
    }
	}

	.comment, .comment-content, .comment-body {
		@apply space-y-0.75lh
	}
	.comments-area { @apply space-y-1lh }
	.comment-list {
		@apply space-y-8 divide-y divide-grey-500;
		& > *:not(:first-child) { @apply pt-8 }
	}

  .comment-meta {
    display: flow-root;
    .avatar { float: right; }
  }
  .comment-author {
    @apply text-lg;
    .fn { @apply font-semibold; }
  }
  .comment-metadata { @apply text-sm; }

	.children { @apply border-l-8 border-grey-200 pl-4 space-y-1lh }

}
