@layer components {

	.entry-content, recent-posts\.item\.content {
		@apply text-lg space-y-1lh;

    p {
      hyphens: auto;
      @apply max-w-prose;
    }

		blockquote {
			@apply
        leading-4/3 text-secondary
        px-6 space-y-0.5lh max-w-prose;
		}

    h2 {
      @apply text-2xl font-medium;
      @apply mt-2lh !important;
    }

    h3 {
      @apply text-xl font-semibold;
      @apply mt-1.5lh !important;
    }
	}

  .post-navigation {
    @apply mx-auto max-w-prose;
  }

	.nav-links {
		@apply flex flex-wrap gap-x-6 gap-y-4;
	}

  .nav-next { @apply ml-auto; }

  .nav-next, .nav-previous { @apply link-plain }

	.entry-title { @apply text-2xl }

	.entry-footer {
		@apply
			grid grid-cols-w48 gap-x-4
			text-sm text-secondary;
	}

  .singular .entry-title {
    @apply display text-4xl lg:text-5xl;
  }

	.single-post {
    main { @apply space-y-8 }
		.entry {
			@apply
				grid gap-x-10 gap-y-0.75lh lg:gap-y-1lh
				grid-cols-lg lg:grid-cols-sm-lg-sm
				justify-center;
		}
		.entry-header { grid-area: header }
		.entry-footer {
      grid-area: footer;
      align-self: start;
      @apply
        lg:block
        border-b pb-0.75lh mb-0.5lh border-grey-500
        lg:border-b-0 lg:pb-0 lg:border-l lg:pl-4;
    }
		.entry-content { grid-area: main }
	}

  .wp-block-quote > cite {
    display: block;
  }

  .wp-block-column {
    @apply space-y-1lh;
  }

  .singular.page {
    .entry {
      @apply space-y-1lh;
    }

    .entry-content > *, .entry-header {
      @apply max-w-prose mx-auto;
    }
    .entry-content > .alignwide { @apply max-w-224; }
    .entry-content > .alignfull { @apply max-w-none mx-0; }
  }

}
