@layer base {

	form {
		input:not([type="submit"]):not([type="reset"]):not([type="range"]),
		textarea {
			@apply text-lg p-1 border rounded-sm border-secondary;
			&:focus {
				@apply
					ring-0 ring-transparent
					border-secondary outline-button;
			}
		}

		button, [type = "button"],
    [type = "reset"], [type = "submit"] {
			@apply
				px-3.5 py-1.5 rounded
				border
				font-medium;
      color: var(--button-colour-text);
      border-color: var(--button-colour-light);
      background-color: var(--button-colour-medium);
			&:focus { @apply outline-button; }
			&:active {
        background-color: var(--button-colour-dark);
      }
		}
	}

	textarea { width: 100%; }

}
