@layer base {
	body {
    --fallback-fonts: Garamond, Charter, Georgia, serif;
		font-family: 'EB Garamond', var(--fallback-fonts);
		--width-prose: 36rem;
    @apply grey links-underline;
	}

	b, strong { font-weight: 700; }

	dnf, cite, em, i {
		font-style: italic;
	}

	pre {
		white-space: pre;
		overflow-x: auto;
	}

	a {
		cursor: pointer;
    color: var(--link-colour);
    text-decoration-line: var(--link-text-decoration);
		text-underline-offset: 0.1875em;
		text-decoration-thickness: 0.05em;
		text-decoration-skip-ink: all;
    &:hover, &:focus { text-decoration-line: underline; }
	}
}
