@layer base {
	body {
		font-family: 'EB Garamond', Garamond, Charter, Georgia, serif;
		--width-prose: 36rem;
		--colour-primary: #1C1917;
		--colour-secondary: #262626;
		--colour-tertiary: #3F3F46;
		--colour-accent-1: #9D174D;
		--colour-accent-2: #BE185D;
		--colour-interactive-1: #1E40AF;
		--colour-interactive-2: #1D4ED8;
		--colour-interactive-3: #2563EB;
		@apply text-primary bg-grey-50;
	}

	b, strong { font-weight: 700; }

	p { hyphens: auto }

	dnf, cite, em, i {
		font-style: italic;
	}

	pre {
		white-space: pre;
		overflow-x: auto;
	}

	a {
		cursor: pointer;
		@apply text-interactive-1;
		text-decoration: underline;
		text-underline-offset: 0.1875em;
		text-decoration-thickness: 0.05em;
		text-decoration-skip-ink: all;
	}
}
