@layer base {
	body {
		font-family: 'EB Garamond', Garamond, Charter, Georgia, serif;
		--width-prose: 36rem;
    @apply grey;
	}

	b, strong { font-weight: 700; }

	p { hyphens: auto }

	dnf, cite, em, i {
		font-style: italic;
	}

	pre {
		white-space: pre;
		overflow-x: auto;
	}

	a {
		cursor: pointer;
    color: var(--link-colour);
		text-decoration: underline;
		text-underline-offset: 0.1875em;
		text-decoration-thickness: 0.05em;
		text-decoration-skip-ink: all;
	}
}
