@layer utilities {
	.grid-cols-lg {
		grid-template-columns: minmax(0, var(--width-prose));
		grid-template-areas:
			"header" "footer" "main";
	}

	.grid-cols-sm-lg-sm {
		grid-template-columns: minmax(0, 15rem) var(--width-prose) 15rem;
		grid-template-areas:
			"none header header"
			"none main footer";
	}

	.hyphens {
		hyphens: auto;
	}

	.thick-top-border {
		@apply
			border-t-8 border-accent-1 border-opacity-80
			pt-6;
	}

	[aria-expanded = "true"] .hide-when-expanded {
		display: none
	}

	[aria-expanded = "false"] .hide-when-collapsed {
		display: none
	}

	.alignleft {
		float: left;
		@apply mr-6 my-2;
	}

	.alignright {
		float: right;
		@apply ml-6 my-2;
	}

  .link-plain a {
    text-decoration: none;
    color: currentColor;
  }

	.screen-reader-text:not(:focus):not(:focus-within) {
		@apply sr-only;
	}

  .p-space-y-8 > :not(:first-child) {
    padding-top: 2rem;
  }

  .flex-space-x-4 {
    margin-left: -.5rem;
    margin-right: -.5rem;
    & > * {
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }

  .flex-space-x-8 {
    margin-left: -1rem;
    margin-right: -1rem;
    & > * {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .flex-space-x-12 {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    & > * {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }

  .flex-space-x-16 {
    margin-left: -2rem;
    margin-right: -2rem;
    & > * {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  .mx-main-content {
    @apply mx-4 sm:mx-8 lg:mx-16;
  }

  .pb-0\.5lh-1px {
    padding-bottom: calc(0.8125rem - 1px);
  }

  .pb-0\.25lh-1px {
    padding-bottom: calc(0.40625rem - 1px);
  }

  .small-caps {
    font-family: "Cormorant SC", var(--fallback-fonts);
  }

  .display {
    font-family: "Cormorant Garamond", var(--fallback-fonts);
  }

  .links-no-underline { --link-text-decoration: none; }
  .links-underline { --link-text-decoration: underline; }

  .button {
    @apply
      px-3.5 py-1.5 rounded
      border
      font-medium;
    color: var(--button-colour-text);
    border-color: var(--button-colour-light);
    background-color: var(--button-colour-medium);
    &:focus { @apply outline-button; }
    &:active {
      background-color: var(--button-colour-dark);
    }
  }

  .ornament-right::after { content: var(--ornament); }
  .ornament-left::before { content: var(--ornament); }

  .ornaments-diamond {
    --ornament: '◆';
  }
  .ornaments-none {
    --ornament: none;
  }

  .ornaments-x > :not([hidden]) ~ :not([hidden])::before {
    content: var(--ornament);
  }

}
